Adafruit-GPIO
Adafruit-PCA9685
Adafruit-PureIO
attrs
blinker
click
colorzero
evdev
Flask
flask-cors
gpiozero
greenlet
imutils
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
libarchive-c
MarkupSafe
numpy
paho-mqtt
picamera2
pid
pidng
piexif
pillow
pynput
python-prctl
python-xlib
pyzbar
referencing
rpi-ws281x
RPi.GPIO
simplejpeg
six
tqdm
typing_extensions
videodev2
Werkzeug

